<div class="grain"></div>

<app-invi-ticker></app-invi-ticker>
<app-invi-hero></app-invi-hero>
<app-invi-story></app-invi-story>
<app-invi-album></app-invi-album>
<app-invi-timeline></app-invi-timeline>
<app-invi-logistics></app-invi-logistics>
<app-invi-weather></app-invi-weather>
<app-invi-dresscode></app-invi-dresscode>
<app-invi-gifts></app-invi-gifts>
<app-invi-upload></app-invi-upload>
<app-invi-rsvp-form></app-invi-rsvp-form>
<app-invi-footer></app-invi-footer>
<app-invi-floating></app-invi-floating>
